@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,200;1,100&display=swap');

    *{
        box-sizing: border-box;
        text-decoration: none !important;
        color: white;
        font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    }
    button{
        border: none;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: #000000;
    }

.c-1{
    display: flex;
    justify-content: space-between !important;
}
.logo{
    margin-left: 55px;
    margin-top: 27px;
    color: white;
    font-weight: 800;
    font-size: 29px;
}
.logo:hover{
    color: #FA8305 !important;
}
.nav-a:hover{
    color: #DC7000;
}
.nav-c:hover{
    color: #DC7000;
}
.nav-b:hover{
    color: BLACK;
    transform: rotateX(30deg);

}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.sp-1:hover{
color: #DC7000;

}
.nav-ing{
    margin-top: 20px;
}
.nav-b{
    /* margin-top: 27px; */
    margin-right:55px;
    border: none;
    background: #FA9021;
    border-radius: 6px;
    padding: 10px 30px;
    color: white;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 19.5px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.nav-a{
    /* margin-top: 27px; */
    margin-right: 80px;
    color: white;
    font-size: 16px;
    
}
.nav-c{
    /* margin-top: 27px; */
    margin-right: 37px;
    color: white;

}
.navbar{
position: relative !important;
}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter:blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    height: 0;
    transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li{
padding: 0.7rem;
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin-left: 45px;
}


@media (max-width: 990px){
    .nav-ing{
        display: none;
    }
    .navbar .toggle_btn{
        display:block;
    }
    .dropdown_menu{
        display: block;
    }
    .logo{
        margin: 0;
    }
}
.dropdown_menu.open{
    height: 240px;
}
.tracker{
    text-align: center;
}
.tracker h1{
    font-weight: 700;
}
.tracker p{
    font-weight: 600;
    margin-top: 13px;
}
.dedamiwa{
    display: flex;
    justify-content: center;
    margin-top: 93px;
    margin-bottom: 63px;
}
.contact{
    display: flex;
}
.xazi1{
    border: 1px solid rgba(255, 255, 255, 1);
    width:0px;
    opacity: 0.7;
    height: 102px;
    margin-left: 117px;
    margin-right: 117px;
}
.sami{
    display: flex;
}
.meore{
    display: flex;
}
.meore img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.sami{
    display: flex;
    justify-content: center;
    margin: 147px;
    flex-wrap: wrap;
}
.mesame img{
    width: 25px;
    height: 25px;
}
.contact img{
    width: 70px;
    height: 70px;
    margin: 0px;
    margin-right: 0px;
}
.erti p{
    margin-left: 15px;
}
.meore{
    margin-top: 40px;
}
.meore p{
white-space:nowrap;
}

.mesame{
    display: flex;
    margin-top: 40px;
}

.seqcia1{
    display: flex;
    flex-wrap: wrap;
}
.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.content{
    text-align: center;
    margin-top: 54px;
    margin-bottom: 80px;
}
.timera input{
    z-index: 1000;;
    width: 322px;
     height: 56px;
     margin-right: 13.5px;
     background: rgba(255, 255, 255, 0.07);
border: 0.6px solid #CECECE;
border-radius: 9px;
}
.timera p{
    line-height: 0px;
    opacity: 0.6;
}
.timera2 input{
    z-index: 10001;
    width: 322px;
    height: 56px;
    margin-left: 13.5px;
    background: rgba(255, 255, 255, 0.07);
border: 0.6px solid #CECECE;
border-radius: 9px;
}
.timera2 p{
    line-height: 0px;
    opacity: 0.6;
    margin-left: 16px;
}
.seqcia2 input{
    width: 671px;
    height: 56px;
    background: rgba(255, 255, 255, 0.07);
border: 0.6px solid #CECECE;
border-radius: 9px;
}
.seqcia2 p{
    line-height: 0px;
    opacity: 0.6;
    margin-top: 30px;
}
.seqcia2{
    z-index: 5;
}
.seqcia3 textarea{ 
   width: 671px;
   height: 232px;
   background: rgba(255, 255, 255, 0.07);
border: 0.6px solid #CECECE;
border-radius: 9px;
resize: none;
color: white;
}
.seqcia3 p{
    line-height: 0px;
    opacity: 0.6;
    margin-top: 30px;
}
.hello button{
    margin-top: 51px;
    margin-left: 480px;
    padding: 12px 47px;
    background: rgba(220, 112, 0, 1);
    border-radius: 10px;
    transition: 0.9s;
    margin-bottom: 63px;
}
.hello button:hover{
border-radius: 20px 10px;
background-color:#FB9E3C;
}
.hello{
    background: #1C140F;
}
.gveli{
    height: 360px;
    position: absolute;
    top: 492px;
    left: 0px;
}
.gvela{
    width: 1200px;
    position: absolute;
    top: 0px;
    right: 0px;
}
@media (max-width: 990px){
    .xazi1, .xazi2{
        display: none;
        margin: 0px;
    }
    .dedamiwa img{
        width: 300px;
    }
    .gveli, .gvela{
        display: none;
    }
    .timera input,.timera2 input{
        margin-left: 10px;
        margin-right: 0px;

    }
    .timera input{
       margin-bottom: 40px;
    }
    .timera p,.timera2 p{
        margin-bottom: 20px;
    }
    .seqcia2 input{
        width: 300px;
    }
    .seqcia2 p{
        margin-bottom: 10px;
    }
    .seqcia3 textarea{
        width: 300px;
    }
    .seqcia3 p{
        margin-bottom: 20px;
    }
    .hello button{
        margin: 0px;
    }
    .seqcia1 input{
        width: 300px;
    }
}










.inp{
    display: flex;
    position: relative;
}
.inp input{
height: 48px;
padding-right: 290px;
padding-top: 38px;
padding-bottom: 30px;
border-radius: 8px;
/* position: relative; */
margin-top: 71px;
margin-left: 370px;
font-size: 13px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #000000 !important;
}
.inp button{
background: #DC7000 !important;
border-radius: 8px;
border: none !important;
height: 37px;
width: 134px;

border-radius: 8px;
position: absolute;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
transition: 1s;
top: 88px;
left: 670px;
padding: 10px 15px;
}
.inp button:hover{
    background-color: black  !important;
    color: white;
    border-radius: 0px;
}


.input input, select, textarea{
    color: #000000;
}
.email{
    display: flex;
    margin-left: 135px;
    background: rgba(28, 20, 15, 1);
    border-radius: 15px;
    margin-top: 75px;
    margin-right: 135px;
}
.shesavali{
   margin-left: 135px; 
}

.txt{
    padding-top: 40px;
    padding-bottom:42px;
    padding-left: 52px;
}
.txt-p{
    font-size: 21px;
    font-weight: 300 !important;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;    
}
.txt h1{
font-size: 45px;
font-weight: 500;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
}


.photo-container {
    perspective: 1000px;
  }
  
  .photo-container img {
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  .photo-container:hover img {
    transform:rotateX(20deg);
  }
  .space{
    padding-bottom:160px;
  }
  .sp-3:hover{
background-color: #FB9E3C;
border-radius: 0px;
color: black;
font-weight: 600;
  }
  @media (max-width: 990px){
    .shesavali{
        text-align: center;
        margin: 0;
    }
    .email{
        max-width: 375px;
        margin: 0;
        flex-wrap: wrap;
    }
    .txt h1, p{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .inp input{
        margin: 0px;
        padding-right: 100px !important;
        padding-top: 38px;
        padding-bottom: 30px;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .inp button{
        left: 177px;
        top: 18px;
        padding: 2px 2px;
        width: 90px;
    }
    .guka{
        width: 300px;
    }

}
  /* FOOTER/---------------------------------------------------------------------- */
footer{
    background: #000000;
    text-decoration: none !important;
    color: white !important;
}
.c-4{
    display: flex;

}
.xazi{
    border: 0.8px solid rgba(210, 210, 210, 1);
    max-width: 1864px;
    border: 0.8px solid #D2D2D2;
}
.c-all{
    display: flex;
}
.c-10 h4{
font-size: 24px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0em;
padding-bottom: 10px;
}
.c-10{
    padding-top: 73px;
    padding-left: 101px;
    padding-bottom: 62px;
}
.c-20{
display: flex;
flex-direction: column;
color: white;
padding-left: 70px;
padding-top: 79px;
padding-bottom: 60px;
}
.c-20 h6{
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    color: white;
    padding-bottom: 10px;
}
.c-3{
    display: flex;
flex-direction: column;
color: white !important;
padding-left: 100px;
padding-top: 79px;

}
.c-3 h6{
    color: white;
    padding-bottom: 10px;
}
.c-4 img{
    height: 60px;
}
.c-4{
    padding-top: 200px;
    padding-left: 100px;
}
.copyr{
    text-align: center !important;
    padding-top:29px;
}
@media (max-width: 990px){
    .c-all{
        flex-wrap: wrap;
    }
    .c-10{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .c-20{
        text-align: center;
        margin: 0;
        padding: 0;
        padding-left: 130px;
        padding-top: 30px;
    }
    .c-3{
        padding: 0;
        padding-left: 30px;
        padding-top: 30px;
    }
    .c-3 h6{
        text-align: center;
    }
    .c-4{
        padding: 0;
        margin:auto;
    }
    .xazi{
        width: 370px;
    }
}
@media (max-width: 340px){
    .guka{
        display: none;
    }
.xazi{
    width: 290px;
}

}
@media (max-width: 400px){
    .seqcia1{
        margin-left: 28px !important;
    }
}